.cadastro-logo {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.cadastro-container {
  min-height: 100vh;
  width: 100%;
box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f8e9;
  padding: 20px;
}

.cadastro-card {
  width: 100%;
  max-width: 420px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cadastro-card h1 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 8px;
}

.cadastro-subtitulo {
  text-align: center;
  color: #666666;
  margin-bottom: 24px;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
}

.cadastro-form label {
  margin-bottom: 6px;
  color: #333333;
  font-weight: 500;
}

.cadastro-form input,
.cadastro-form select  {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 16px;
}

.botao-cadastrar {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #2e7d32;
  font-weight: bold;
  text-decoration: none;
}